.container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em;
}

.img-container { 

}

.img {
}

.aboutText > p {
    color: white;
    margin: 1em 5em;
}

.aboutText > p > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.aboutText > p > a:hover {
    color: red;
}
