.container { 
    display: flex;
    flex-direction: row;
    margin: 20px 20px 0px 20px;
    // background-color: rgb(49, 55, 67);
}

.img-container {
    padding: 3rem;
}

.img-container img {
    border: 1px solid burlywood;
}

.aboutText {
    margin: 50px;
}

.aboutText > p {
    color:rgba(255, 255, 255, 0.7);
}

.aboutText > p > a {
    color: burlywood;
    text-decoration: none;
    border-bottom: 2px solid;
    margin-top: 20px;
    display: inline-block;
}

.aboutText > p > a:hover {
    color: rgba(222, 184, 135, 0.598);
}
