.container { 
    display: flex;
    flex-direction: row;
    margin: 20px 20px 0px 20px;
    // background-color: rgb(49, 55, 67);
}

.img-container {
    padding: 3rem;
}

.img {
    
}

.aboutText {
    margin: 50px;
}

.aboutText > p {
    color: white;
    font-size: 15px;
}

.aboutText > p > a {
    color: burlywood;
    text-decoration: none;
    font-size: larger;
    text-align: left;
}

.aboutText > p > a:hover {
    color: white;
}
