.img-container {
  position: relative;
  text-align: center;
  color: white;
}

img {
    max-width: 50%;
    max-height: 50%;
    padding-right: 1rem;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}