.home-div {
  display: flex;
//   flex-direction: row-reverse;
//   background-color: rgb(49, 55, 67);
  margin: 20px 20px 0px 20px;
}

.img-container {
  padding: 3rem;
}

.content {
  color: rgba(255, 255, 255, 0.7);
  padding: 3rem;
}

.content > h1 {
  font-size: 4rem;
  font-weight: 100;
}

.content > h1,
.titles {
  color: burlywood;
  text-align: center;
}

.link {
  text-decoration: none;
  border-bottom: 2px solid;
  margin-top: 20px;
  display: inline-block;
}

.link:visited {
  color: burlywood;
}

.link:hover {
  color: rgba(222, 184, 135, 0.598);
}