.home-div {
    background: url('../images/tara-main.jpeg');
    // background-attachment: fixed;
    background-position: 75% 25%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-div h1 {
    font-size: 4rem;
}

.home-div h1, p {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-div p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.2rem;
}