.music-div {
    height: 90vh;
    background: linear-gradient(white 10%, 40%, #14445c 90%);
}

.soundcloud-container {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundcloud-div {
  width: 40%;
  margin: 2rem;
}