.section {
    height: 100vh;
    color: white;
    border-bottom: 1px solid white;
    padding: 100px;
}

.section > h1 {
    text-align: center;
}

.container {
   display: flex;
   flex-direction: row;
   padding: 20px;
   border: 1px solid white;
}

.container > div {
    border: 1px solid white;
    padding: 20px;
}

.content1 {
    
}


.content2,
.content1 > h3 {
    text-align: center;
}
