.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    margin-right: 0.5rem;
}

.link:hover {
    color:#5E747F;;
}

.ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: center;
}

.name {
    color: #5e747fa8; 
    font-size: 2rem;
    text-decoration: none;
}

.header {
    padding: 0.5rem 0 0rem;
    text-align: center;
    background-color: lightgray;
}

.header h1 {
    margin: 0;
}

.active-nav-item {
    color:#5E747F;
}

.nav {
    display: flex;
    justify-content: center;
}