$color: #c6cfd3;
$color-active-hover: #7e9fb0;
$header-font: 'Anton';

.div-container {
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    background-color: rgb(50, 48, 48);
    box-shadow: 0px 10px 0px -6px rgb(21, 20, 20);
    position: relative;
    
    h1 {
        align-items: center;
        margin: auto 0 auto 1.25rem;

        .name {
            color: $color;
            font-family: $header-font;
            font-size: 2rem;
            text-decoration: none;
            transition: color 300ms ease-in-out;

            &:hover {
                color: $color-active-hover;
            }
        }     
    }

    .nav {
        padding: 1.875rem 1.25rem;
    }

}

.link {
    text-decoration: none;
    color: $color;
    font-size: 1rem;
    font-family: $header-font;
    font-weight: 100;
    border: 1px solid #7e9fb000;
    padding-bottom: 1.25rem;
    transition: color, border 300ms ease-in-out;

    &:hover {
        color: $color-active-hover;
        border-bottom: 2px solid $color-active-hover;
        padding-bottom: 1.1rem;
    }
}

.ul {
    margin: auto;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

    li:not(:last-child) {
        padding-right: 3rem;
    }

    .active-nav-item {
        color: $color-active-hover;
        border-bottom: 2px solid $color-active-hover;
        padding-bottom: 1.1rem;
    }
}

.hamburger { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > span {
    background-color: $color;
    width: 26px;
    height: 2px;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.open-hamburger {
    > span:first-child {
        transform: rotate(45deg);
    }

    > span:nth-child(2) {
        opacity: 0;
    }

    > span:last-child {
        transform: rotate(-45deg);
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 4.5rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(transparent, $color);
}

.fade-out {
    display: block;
    animation: fade-out 300ms ease-in-out forwards;
}

.overlay-open {
    display: block;
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}



