$color: #14445c;
$color-active-hover: #7e9fb0;
$header-font: 'East Sea Dokdo';

.div-container {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    
    h1 {
        align-items: center;
        margin: auto 0 auto 10px;

        .name {
            color: $color;
            font-family: $header-font;
            font-weight: 900;
            font-size: 3rem;
            letter-spacing: 0.5rem;
            text-decoration: none;
            padding-left: 3rem;
            transition: color 300ms ease-in-out;

            &:hover {
                color: $color-active-hover;
            }
        }     
    }

    .nav {
        // display: flex;
        justify-content: center;
        padding: 30px 40px;
    }

}

.link {
    text-decoration: none;
    color: $color;
    font-size: 1.2em;
    font-family: $header-font;
    font-weight: 100;
    border: 1px solid #7e9fb000;
    padding-bottom: 10px;
    transition: color, border 300ms ease-in-out;

    &:hover {
        color: $color-active-hover;
        border-bottom: 1px solid $color-active-hover;
        padding-bottom: 10px;
    }
}

.ul {
    margin: auto;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

    li:not(:last-child) {
        padding-right: 3rem;

        .active-nav-item {
            color: $color-active-hover;
            border-bottom: 1px solid $color-active-hover;
            padding-bottom: 10px;
        }
    }
}

.hamburger { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > span {
    background-color: $color;
    width: 26px;
    height: 2px;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.open-hamburger {
    > span:first-child {
        transform: rotate(45deg);
    }

    > span:nth-child(2) {
        opacity: 0;
    }

    > span:last-child {
        transform: rotate(-45deg);
    }
}


.overlay {
    animation: fade-out 300ms ease-in-out forwards;
    display: none;
    position: fixed;
    top: 10vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(transparent, grey);
}

.overlay {
    display: block;
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



